TerminalID=YOURTERMID
TerminalPass=YOURSECRETTERMPASS

MonthLoadMax=2500000
MaxBalance=500000
MinLoad=5000

MongoUrl=MONGODB_URL:27017
MongoUser=MDBUSER
MongoPass=MDBPASS
MongoDatabase='YOUR_DB_HERE'

API_JWT_SECRET='SUPER_SECRET_PASS'

SERVER_PATH_PREFIX='UPLOAD_PREFIX_PATH'
LOG_FILE='PATH/TO/LOGFILE'

FernKey=PATH/TO/Fern.key
